.alert {
    width: 50%;
    height: auto;
    max-height: 50px;
    position: fixed;
    z-index: 101;
}

.modal_background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
}

.alert-info {
width: 50%;
height: auto;
position: relative; 
}

.alert-success {
    width: 50%;
    height: auto;
    position: relative; 
}

.alert-error {
    width: 50%;
    height: auto;
    position: relative; 
}

.closebtn {
    z-index: 102;
}